<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">

</head>

<body>
    <div class="main-content">
{{>header}}
<img src="/img/pic.gif" alt="" height="450px" width="450px">
    </div>
    

            {{>footer}}

</body>
</body>

</html>